.header__list-item {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  margin-right: 35px;
  transition: opacity 0.5s ease-in-out;
}
.header__list-item:hover{
  opacity: 0.5;
}

