  .page {
    width: 100%;
    margin:0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color:white;
  }
  .block{
    border: solid;
    border-color: aqua;
  }
  .header{
    margin:0 auto;
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__list{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  .header__list-item{
    color:black;
    font-style:normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }
  .lead{
    width: 90%;
    margin:0 auto;
    margin-top: 70px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
  }
  .lead__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:600px;
  }
  .lead__image{
    width: 450px;
    height: 450px;
    margin-right: 120px;
  }
  .lead__caption{
    margin:0;
    margin-bottom: 30px;
    color:indianred;
    font-size: 14px;
    line-height: 18px;
  }
  .lead__title{
    margin:0 auto;
    font-size: 34px;
  }
  .place{
    overflow: hidden;
    margin:0 auto;
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:82vh;
    background-color: #f2f2f2;
  }
  .place__image{
    width:100%;
    object-position: 0 -170px;
  }
  .place__info{
    margin:auto;
    height: 70%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .place__title{
    margin:0;
}
  .place__text{
    margin:0px;
    margin-bottom: 50px;
    max-width: 440px;
}
   .place__text:last-child{
    margin:0px;
}
