@import url(./pages/index.css);

<<<<<<< HEAD
  @import url(./pages/index.css);

  .page {
    width: 100%;
    margin:0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color:white;
  }
  .block{
    border: solid;
    border-color: aqua;
    font-family: "SourceSansPro";
    border: 1px solid aqua;
  }
  .header{
    margin:0 auto;
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__list{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  .header__list-item{
    color:black;
    font-style:normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }
  .lead{
    width: 90%;
    margin:0 auto;
    margin-top: 70px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
  }
  .lead__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:600px;
  }
  .lead__image{
    width: 450px;
    height: 450px;
    margin-right: 120px;
  }
  .lead__caption{
    margin:0;
    margin-bottom: 30px;
    color:indianred;
    font-size: 14px;
    line-height: 18px;
  }
  .lead__title{
    margin:0 auto;
    font-size: 34px;
  }
  .place{
    overflow: hidden;
    margin:0 auto;
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:82vh;
    background-color: #f2f2f2;
  }
  .place__image{
    width:100%;
    object-position: 0 -170px;
  }
  .place__info{
    margin:auto;
    height: 70%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .place__title{
    margin:0;
}
.place:last-of-type .place__image{
  object-fit: cover;
}
  .place__text{
    margin:0px;
    margin-bottom: 50px;
    max-width: 440px;
}
   .place__text:last-child{
    margin:0px;
=======
.page {
  width: 100%;
  margin: 0 auto;
  font-family: "SourceSansPro", Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: white;
}
* {
  border: 1px solid aqua;
}
.block {
}
.header {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.header__list-item {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.lead {
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.lead__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}
.lead__image {
  width: 450px;
  height: 450px;
  margin-right: 120px;
}
.lead__caption {
  margin: 0;
  margin-bottom: 30px;
  color: indianred;
  font-size: 14px;
  line-height: 18px;
}
.lead__title {
  margin: 0 auto;
  font-size: 34px;
}
.place {
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 82vh;
  background-color: #f2f2f2;
}
.place__image {
  width: 100%;
  object-position: 0 -170px;
}
.place__info {
  margin: auto;
  height: 70%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.place__title {
  margin: 0;
}
.place__text {
  margin: 0px;
  margin-bottom: 50px;
  max-width: 440px;
}
.place__text:last-child {
  margin: 0px;
>>>>>>> 95bdddb75dce8186cdd2c927fbae5c9f44f15988
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.table__text {
  margin:0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 0px;
}
.table__heading {
  margin:0px;
  max-width: 540px;
}
.table__cell {
  width: 300px;
  margin-top: 160px;
}
.digits{
  width: 90%;
  margin: auto;
  margin-top: 180px;
  margin-bottom: 180px;
}
.digits__title{
  margin:0;
  margin-bottom: 30px;
  width: 90%;
  color:#FECEA9;
  font-size: 17px;
  line-height: 18px;
}
.digits__subtitle{
  margin:0;
  width: 560px;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
}
.footer{
  display: flex;
  height: 100vh;
  background-color: #FECEA9;
}
.footer__text{
  margin:auto auto;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
}
