.place__image {
  width: 100%;
  object-fit: cover;
  max-height: 535px;
  height: calc((100vw / 2) / ((1280 / 2) / 535));
}
@media (max-width: 768px) {
  .place__image  {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 440px) {
  .place__image {
    min-height:200px
  }
}
