.lead {
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}

@media (max-width: 768px) {
  .lead {
    flex-direction: column;
  }
}
