.lead {
  padding: 35px 70px;
  padding-bottom: 131px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .lead {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .lead {
    flex-direction: column;
    padding: 35px 15px;
  }
}
