.lead__image {
  width: 355px;
  height: 355px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .lead__image {
    width: 400px;
    height: 400px;

  }
}

@media (max-width: 440px) {
  .lead__image {
    width: 280px;
    height: 280px;

  }
}
