.place {
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 82vh;
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: 1fr;
  }
}
